/*
 Theme Name:   BNT
 Description:  BNT theme
 Author:       Born Digital
 Author URL:   http://www.born-digital.co.uk
 Template:     anglitemp
 Version:      1.0.0
 Text Domain:  anglitemp-child
*/
img {
  max-width: 100%;
}
blockquote {
  border: 0 none;
}
header {
  padding-top: 20px;
}
header .logo a {
  width: 104px;
  height: 87px;
  background-image: url('images/logo.png');
}
header .intro {
  padding-top: 33px;
}
header .intro h2 {
  margin-top: 0;
  font-size: 36px;
}
header .intro p {
  color: #ffffff;
}
header .menu {
  font-weight: normal;
}
header .menu ul {
  margin-top: 29px;
}
header .menu ul li.current-menu-item a,
header .menu ul li.current-menu-ancestor a {
  color: #ee352a;
}
header .menu ul li a {
  white-space: nowrap;
}
header .menu ul li a:focus,
header .menu ul li a:hover,
header .menu ul li a:active {
  color: #ee352a;
}
.phone-numbers {
  background-color: #000000;
  margin: -20px 0 20px 0;
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
}
.phone-numbers ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.phone-numbers ul li {
  width: 16.66% !important;
  text-align: center;
}
.phone-numbers a {
  color: #ffffff;
  padding: 10px 0;
  display: block;
}
.phone-numbers a:focus,
.phone-numbers a:hover,
.phone-numbers a:active {
  background-color: #ee352a;
}
.phone-numbers .number {
  font-weight: 600;
  letter-spacing: 0.05em;
}
.latest-offers {
  background-color: #000000;
  color: #ffffff;
}
@media (min-width: 767px) {
  .home-block-news,
  .latest-offers {
    height: 218px;
  }
}
.search {
  background-color: #0057a7;
  padding: 20px;
  color: #ffffff;
}
.search .input-wrap {
  display: inline-block;
  border: solid 1px #ffffff;
  margin-right: 20px;
  position: relative;
}
.search .input-wrap input {
  border: 0 none;
  padding: 5px;
}
.search .input-wrap input[type="text"] {
  outline: 0 none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  padding: 7px 15px;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.search .input-wrap input[type="text"]::webkit-input-placeholder {
  color: #b9c6d3;
}
.search .input-wrap input[type="text"]:-moz-placeholder {
  color: #b9c6d3;
}
.search .input-wrap input[type="text"]::-moz-placeholder {
  color: #b9c6d3;
}
.search .input-wrap input[type="text"]:-ms-input-placeholder {
  color: #b9c6d3;
}
.search .input-wrap input[type="submit"] {
  background-color: #0057a7;
  color: #0057a7;
  width: 30px;
}
.search .input-wrap .fa-search {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 7px;
}
.search p {
  margin: 0;
  display: inline-block;
}
.price-updates > .row {
  background-color: #0057a7;
  padding: 20px 0;
  color: #ffffff;
}
.price-updates > .row .title {
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  letter-spacing: 1px;
}
.price-updates > .row ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
}
.price-updates > .row ul li {
  margin-bottom: 5px;
}
.price-updates > .row ul li a {
  color: #ffffff;
}
.price-updates > .row ul li .price-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
}
.price-updates > .row ul li span {
  margin-right: 5px;
}
.price-updates > .row ul li .learn-more {
  text-transform: uppercase;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  font-size: 11px;
}
.home-distributors {
  background: #010001 url('images/distributors.png') no-repeat 50% 50%;
  height: 299px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
}
.home-distributors a {
  color: #ffffff;
}
.home-distributors a span {
  display: block;
}
.home-distributors h2 {
  color: #ee352a;
  font-weight: 600;
  font-size: 23px;
  margin: 0;
}
.home-distributors h3 {
  color: #ffffff;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-distributors .locations {
  text-align: left;
  white-space: nowrap;
}
.home-distributors .locations > div:nth-child(3n + 1) .fa-map-marker {
  position: absolute;
  left: -16px;
}
.home-distributors .locations .fa-map-marker {
  float: left;
  font-size: 26px;
  margin: 3px 6px 0 0;
}
.home-distributors .locations .bigger {
  font-weight: 600;
}
.home-distributors .locations .smaller {
  font-size: 10px;
  margin-bottom: 20px;
}
.home-distributors .areas-covered {
  font-weight: 600;
}
.home-distributors .deliver-time {
  font-weight: 600;
}
.home-distributors .deliver-time .number {
  font-size: 33px;
  line-height: 33px;
  margin-top: -8px;
}
.home-distributors .deliver-time .hours {
  font-size: 11px;
}
.home-distributors .button {
  border-color: #ffffff;
  color: #ffffff;
  margin-top: 5px;
}
.home-distributors .button:hover,
.home-distributors .button:active {
  background-color: #ffffff;
  color: #000000;
}
.product {
  min-height: 215px;
}
.product .description {
  background-image: none;
  padding: 20px;
}
.product-prices .copy {
  padding-top: 20px;
}
.product-prices .product-price {
  text-align: center;
  min-width: 168px;
  padding-top: 12px;
}
.product-prices .product-price .image {
  margin-bottom: 10px;
  text-align: center;
  height: 142px;
}
.product-prices .product-price .brand-website {
  color: #333;
}
.product-prices .product-price .button {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 5px;
  width: 142px;
}
.product-prices .product-price .button .fa {
  float: right;
  position: relative;
  top: 3px;
}
.price-list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}
.price-list li {
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}
.price-list li .image {
  position: relative;
}
.price-list li .image:after {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  background-color: #f4f4f4;
  top: 0;
  right: -5px;
  position: absolute;
}
.price-list li .image .recently-updated {
  background-color: #d41c11;
  color: #ffffff;
  padding: 5px;
}
.price-list li .title {
  padding: 20px 0 10px 0;
}
.price-list li .title h2 {
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}
.price-list li .title .category {
  margin: 0;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  text-transform: uppercase;
}
.price-list li .title .last-updated {
  margin: 5px 0 0 0;
}
.price-list li .extra {
  padding: 30px 0;
}
.price-list li .extra .brand-logo {
  width: 127px;
  height: 39px;
  display: inline-block;
  text-align: center;
}
.price-list li .extra .brand-logo img {
  max-height: 39px;
}
.price-list li .extra .attachment-button {
  float: right;
  margin-right: 20px;
}
.price-list li .extra .attachment-button i {
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  top: 1px;
}
.branch-select {
  background-color: #0057a7;
  text-transform: uppercase;
  padding: 20px;
  color: #ffffff;
}
.branch-select .nav-tabs {
  border: 0 none;
}
.branch-select .nav-tabs a {
  min-width: 170px;
}
.branch-select .nav-tabs .button {
  border: solid 1px #ffffff;
  letter-spacing: 1px;
  border-radius: 0;
  color: #ffffff;
}
.branch-select .nav-tabs .button:link,
.branch-select .nav-tabs .button:visited,
.branch-select .nav-tabs .button:hover,
.branch-select .nav-tabs .button:active,
.branch-select .nav-tabs .button:focus {
  background-color: transparent;
}
.branch-select .nav-tabs .button .caret {
  margin-left: 10px;
}
.branch-select-compact .branch-summary {
  text-transform: none;
  margin: 0;
}
.title.no-logo {
  padding-top: 20px !important;
  background-image: none !important;
}
.product-info-alt .title {
  padding-top: 20px;
  background-image: none !important;
}
.product-info-alt .title.dark {
  background-color: #000000;
}
.single-product .supplier-testimonial .title {
  padding-top: 20px;
  background-image: none !important;
}
.single-product .supplier-testimonial .title.dark {
  background-color: #000000;
  height: 231px;
}
.single-product .supplier-testimonial blockquote {
  padding: 30px 20px;
  text-align: left;
  font-size: 14px;
}
.single-product .supplier-testimonial blockquote:before {
  top: 5px;
}
.single-product .supplier-testimonial blockquote:after {
  bottom: 10px;
}
.contact-details .title,
.contact-details .copy {
  min-height: 238px;
}
.contact-details .title {
  padding-top: 20px;
  background-image: none !important;
}
.contact-details .title.dark {
  background-color: #000000;
}
.contact-details .copy {
  padding: 0;
}
.contact-details .branch-details {
  padding: 20px 30px;
}
.contact-details .branch-details h3 {
  text-transform: uppercase;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}
.contact-details .branch-details a[href*="mailto:"] {
  color: #333;
}
.contact-details .branch-details .telephone-number {
  text-transform: uppercase;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.contact-details .branch-details .opening-hours {
  margin-bottom: 20px;
}
.contact-details .branch-details .opening-hours .times {
  font-weight: bold;
}
.contact-details .phone-number {
  display: block;
  font-family: 'novecento_sans_wide_bookbold', sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 0 -10px 0;
}
.contact-details p {
  margin: 0;
}
.contact-details .personnel .person {
  height: 200px !important;
}
.contact-personnel .person h4 {
  text-transform: none !important;
  font-size: 14px !important;
  margin: 5px 0 !important;
}
.contact-personnel .personnel-controls {
  background-image: none !important;
  background-color: #ee352a;
  padding-top: 20px;
  min-height: 200px;
  height: auto;
}
.contact-personnel .personnel-controls .controls {
  margin-top: 20px;
}
@media (min-width: 767px) and (max-width: 990px) {
  .page-template-templatescontact-php .personnel .person {
    height: 200px;
  }
}
@media (min-width: 990px) {
  .page-template-templatescontact-php .personnel .person {
    height: 200px;
  }
}
article .overview .date {
  margin-bottom: 5px;
}
@media (min-width: 990px) {
  .home-block-small,
  .page-template-templatescontact-php .personnel-controls,
  .page-template-templatesour-company-php .title {
    background-image: url('images/logo-sm.png');
    background-size: auto 39px;
  }
}
@media (min-width: 990px) {
  .post-type-archive-project .search-results.anglitemp,
  .tax-countries .search-results.anglitemp,
  .tax-type .search-results.anglitemp,
  .single-project .search-results.anglitemp {
    background-color: #000000;
    background-image: url('images/logo-sm.png');
    background-size: auto 39px;
  }
}
.product-intro .title {
  height: 750px;
}
.product-intro .copy {
  padding-top: 20px;
  height: 750px;
}
.clients .client-controls {
  background-color: #ee352a;
}
.clients .client-controls *,
.clients .client-controls .controls span {
  color: #ffffff;
  border-color: #ffffff;
}
.clients .client-carousel {
  padding-left: 10px;
}
.accreditations span {
  display: block;
  float: left;
  margin-right: 12px;
}
.accreditations span img {
  display: block;
}
.accreditations .first-row img {
  max-height: 60px;
}
.accreditations img[src*="linkedin.png"] {
  margin-top: 14px;
}
.accreditations img[src*="necc.png"] {
  margin-top: 14px;
}
.accreditations img[src*="roo.png"] {
  margin-top: 30px;
}
