/*
 Theme Name:   BNT
 Description:  BNT theme
 Author:       Born Digital
 Author URL:   http://www.born-digital.co.uk
 Template:     anglitemp
 Version:      1.0.0
 Text Domain:  anglitemp-child
*/
@import "../anglitemp/css/colours.less";

@opensans: 'Open Sans', sans-serif;
@lato: 'Lato', sans-serif;
@nove: 'novecento_sans_widelight', sans-serif;
@novebold: 'novecento_sans_wide_bookbold', sans-serif;
@icon-font: 'FontAwesome';

@black: #000;
@white: #fff;
@bnt-darkblue: #003a70;
@bnt-blue: #0057A7;
@red: #EE352A;

img {
  max-width: 100%;
}

blockquote {
  border: 0 none;
}

header {
  padding-top: 20px;

  .logo {
    a {
      width: 104px;
      height: 87px;
      background-image: url('images/logo.png');
    }
  }

  .intro {
    padding-top: 33px;

    h2 {
      margin-top: 0;
      font-size: 36px;
    }

    p {
      color: @white;
    }
  }

  .menu {
    font-weight: normal;

    ul {
      margin-top: 29px;

      li {
        &.current-menu-item, &.current-menu-ancestor {
          a {
            color: @red;
          }
        }

        a {
          white-space: nowrap;

          &:focus, &:hover, &:active {
            color: @red;
          }
        }
      }
    }
  }
}

.small() {
  text-transform: uppercase;
  font-family: @lato;
}

.medium() {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: @novebold;
}

.big() {
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: @novebold;
  letter-spacing: 1px;
}

.phone-numbers {
  background-color: @black;
  margin: -20px 0 20px 0;
  font-size: 11px;
  color: @white;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      width: 16.66% !important;
      text-align: center;
    }
  }

  a {
    color: @white;
    padding: 10px 0;
    display: block;

    &:focus, &:hover, &:active {
      background-color: @red;
    }
  }

  .number {
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}

.latest-offers {
  background-color: @black;
  color: @white;
}

.home-block-news, .latest-offers {
  @media (min-width: 767px) {
    height: 218px;
  }
}

.search {
  background-color: @bnt-blue;
  padding: 20px;
  color: @white;

  .input-wrap {
    display: inline-block;
    border: solid 1px @white;
    margin-right: 20px;
    position: relative;

    input {
      border: 0 none;
      padding: 5px;
    }

    input[type="text"] {
      outline: 0 none;
      color: @black;
      text-transform: uppercase;
      font-weight: 400;
      padding: 7px 15px;
      font-size: 12px;
      letter-spacing: 0.05em;

      &::webkit-input-placeholder {
        color: #b9c6d3;
      }
      &:-moz-placeholder {
         color: #b9c6d3;
      }
      &::-moz-placeholder {
         color: #b9c6d3;
      }
      &:-ms-input-placeholder {
         color: #b9c6d3;
      }
    }

    input[type="submit"] {
      background-color: @bnt-blue;
      color: @bnt-blue;
      width: 30px;
    }

    .fa-search {
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }

  p {
    margin: 0;
    display: inline-block;
  }
}

.price-updates > .row {
  background-color: @bnt-blue;
  padding: 20px 0;
  color: @white;

  .title {
    text-align: center;
    .big();
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;

    li {
      margin-bottom: 5px;

      a {
        color: @white;
      }

      .price-title {
        .medium();
      }

      span {
        margin-right: 5px;
      }

      .learn-more {
        text-transform: uppercase;
        font-family: @novebold;
        font-size: 11px;
      }
    }
  }
}

.home-distributors {
  background: #010001 url('images/distributors.png') no-repeat 50% 50%;
  height: 299px;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
  color: @white;

  a {
    color: @white;

    span {
      display: block;
    }
  }

  h2 {
    color: @red;
    font-weight: 600;
    font-size: 23px;
    margin: 0;
  }

  h3 {
    color: @white;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .locations {
    text-align: left;
    white-space: nowrap;

    > div:nth-child(3n + 1) .fa-map-marker {
      position: absolute;
      left: -16px;
    }

    .fa-map-marker {
      float: left;
      font-size: 26px;
      margin: 3px 6px 0 0;
    }

    .bigger {
      font-weight: 600;
    }

    .smaller {
      font-size: 10px;
      margin-bottom: 20px;
    }
  }

  .areas-covered {
    font-weight: 600;
  }

  .deliver-time {
    font-weight: 600;

    .number {
      font-size: 33px;
      line-height: 33px;
      margin-top: -8px;
    }

    .hours {
      font-size: 11px;
    }
  }

  .button {
    border-color: @white;
    color: @white;
    margin-top: 5px;

    &:hover, &:active {
      background-color: @white;
      color: @black;
    }
  }
}

.product {
  min-height: 215px;

  .description {
    background-image: none;
    padding: 20px;
  }
}

.product-prices {
  .copy {
    padding-top: 20px;
  }

  .product-price {
    text-align: center;
    min-width: 168px;
    padding-top: 12px;

     .image {
      margin-bottom: 10px;
      text-align: center;
      height: 142px;
    }

    .brand-website {
      color: #333;
    }

    .button {
      display: inline-block;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 5px;
      width: 142px;

      .fa {
        float: right;
        position: relative;
        top: 3px;
      }
    }
  }
}

.price-list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;

  li {
    background-color: @white;
    margin-bottom: 20px;
    position: relative;

    .image {
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 100%;
        background-color: #f4f4f4;
        top: 0;
        right: -5px;
        position: absolute;
      }

      .recently-updated {
        background-color: darken(@red, 10%);
        color: @white;
        padding: 5px;
      }
    }

    .title {
      padding: 20px 0 10px 0;

      h2 {
        font-family: 'novecento_sans_wide_bookbold', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
      }

      .category {
        margin: 0;
        font-family: 'novecento_sans_wide_bookbold', sans-serif;
        text-transform: uppercase;
      }

      .last-updated {
        margin: 5px 0 0 0;
      }
    }

    .extra {
      padding: 30px 0;

      .brand-logo {
        width: 127px;
        height: 39px;
        display: inline-block;
        text-align: center;

        img {
          max-height: 39px;
        }
      }

      .attachment-button {
        float: right;
        margin-right: 20px;

        i {
          margin-left: 10px;
          font-size: 16px;
          line-height: 16px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

.branch-select {
  background-color: @bnt-blue;
  text-transform: uppercase;
  padding: 20px;
  color: @white;

  .nav-tabs {
    border: 0 none;

    a {
      min-width: 170px;
    }

    .button {
      border: solid 1px @white;
      letter-spacing: 1px;
      border-radius: 0;
      color: @white;

      &:link, &:visited, &:hover, &:active, &:focus {
        background-color: transparent;
      }

      .caret {
        margin-left: 10px;
      }
    }
  }
}

.branch-select-compact {
  .branch-summary {
    text-transform: none;
    margin: 0;
  } 
}

.title.no-logo {
  padding-top: 20px !important;
  background-image: none !important;
}


.product-info-alt {
  .title {
    padding-top: 20px;
    background-image: none !important;

    &.dark {
      background-color: @black;
    }
  }
}

.single-product .supplier-testimonial {
  .title {
    padding-top: 20px;
    background-image: none !important;

    &.dark {
      background-color: @black;
      height: 231px;
    }
  }

  blockquote {
    padding: 30px 20px;
    text-align: left;
    font-size: 14px;

    &:before {
      top: 5px;
    }
    &:after {
      bottom: 10px;
    }
  }
}

.contact-details {
  .title, .copy {
    min-height: 238px;
  }
  .title {
    padding-top: 20px;
    background-image: none !important;

    &.dark {
      background-color: @black;
    }
  }

  .copy {
    padding: 0;
  }

  .branch-details {
    padding: 20px 30px;

    h3 {
      text-transform: uppercase;
      font-family: @novebold;
      margin-bottom: 10px;
      font-size: 18px;
    }

    a[href*="mailto:"] {
      color: #333;
    }

    .telephone-number {
      text-transform: uppercase;
      font-family: @novebold;
      font-size: 24px;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    .opening-hours {
      margin-bottom: 20px;

      .times {
        font-weight: bold;
      }
    }
  }

  .phone-number {
    display: block;
    font-family: @novebold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 0 -10px 0;
  }

  p {
    margin: 0;
  }

  .personnel .person {
    height: 200px !important;
  }
}

.contact-personnel {
  .person {
    h4 {
      text-transform: none !important;
      font-size: 14px !important;
      margin: 5px 0 !important;
    }
  }

  .personnel-controls {
    background-image: none !important;
    background-color: @red;
    padding-top: 20px;
    min-height: 200px;
    height: auto;

    .controls {
      margin-top: 20px;
    }
  }
}

@media (min-width: 767px) and (max-width: 990px)  {
  .page-template-templatescontact-php .personnel .person {
    height: 200px;
  }
}

@media (min-width: 990px) {
  .page-template-templatescontact-php .personnel .person {
    height: 200px;
  }
}

article .overview {
  .date {
    margin-bottom: 5px;
  }
}

.home-block-small,
.page-template-templatescontact-php .personnel-controls,
.page-template-templatesour-company-php .title
{
  @media (min-width: 990px) {
    background-image: url('images/logo-sm.png');
    background-size: auto 39px;
  }
}

.post-type-archive-project, 
.tax-countries, 
.tax-type, .single-project {
  .search-results.anglitemp {
    @media (min-width: 990px) {
      background-color: @black;
      background-image: url('images/logo-sm.png');
      background-size: auto 39px;
    }
  }
}

.product-intro {
  @height: 750px;

  .title {
    height: @height;
  }

  .copy {
    padding-top: 20px;
    height: @height;
  }
}

.clients {
  .client-controls {
    background-color: @red;

    *, .controls span {
      color: @white;
      border-color: @white;
    }
  }

  .client-carousel {
    padding-left: 10px;
  }
}

.accreditations {
  span {
    display: block;
    float: left;
    margin-right: 12px;

    img {
      display: block;
    }
  }

  .first-row {
    img {
      max-height: 60px;
    }
  }

  img[src*="linkedin.png"] {
    margin-top: 14px;
  }

  img[src*="necc.png"] {
    margin-top: 14px;
  }

  img[src*="roo.png"] {
    margin-top: 30px;
  }
}
