.home-block-small {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='images/logo-white.png',
    sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='images/logo-white.png',
    sizingMethod='scale')";
}