/*
  Theme Name:   Anglitemp
  Description:  Main theme
  Version:      1.0
  Author:       Steven Jones / Born Digital
  Author URL:   http://www.born-digital.co.uk
*/

/*  Imports  */
@import "bootstrap.less";
@import "owl.carousel.less";
@import "owl.theme.less";
@import "owl.transitions.less";
@import "wp.less";

/*  Fonts  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'novecento_sans_wide_bookbold';
    src: url('css/fonts/Novecentosanswide-Bold-webfont.eot');
    src: url('css/fonts/Novecentosanswide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Novecentosanswide-Bold-webfont.woff') format('woff'),
         url('css/fonts/Novecentosanswide-Bold-webfont.ttf') format('truetype'),
         url('css/fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widelight';
    src: url('css/fonts/Novecentosanswide-Light-webfont.eot');
    src: url('css/fonts/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Novecentosanswide-Light-webfont.woff') format('woff'),
         url('css/fonts/Novecentosanswide-Light-webfont.ttf') format('truetype'),
         url('css/fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@opensans: 'Open Sans', sans-serif;
@lato: 'Lato', sans-serif;
@nove: 'novecento_sans_widelight', sans-serif;
@novebold: 'novecento_sans_wide_bookbold', sans-serif;

/*  Variables  */
@red: #EC130A;
@blue: #1177BC;
@darkblue: #01151E;
@grey: #ECEAEB;
@darkgrey: #111111;
@grey: #4E5B61;

/*  General  */
body {
    font-family: @opensans;
    background-color: #F4F4F4;
    color: @darkgrey;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-family: @lato;
	font-weight: 300;
    color: #000;
}

h2 {
	font-size: 40px;
	margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
	font-size: 28px;
	margin-bottom: 5px;
}

h4 {
	text-transform: uppercase;
	font-weight: 300;
}

a:hover {
    text-decoration: none;
}

hr {
    border-color: #4D5B61;
}

.nowrap {
  white-space: nowrap;
}

.button {
	color: @grey;
	border: 1px solid @grey;
	padding: 10px 18px;
    text-transform: uppercase;
    font-weight: bold;
	display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
        background-color: #000;
        color: #FFF;
    }

    /*

    &:hover, &:active {
        color: #FFF;

        &:after {
            height: 100%;
        }
    }

	&:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        background-color: #000;
    }

    */

}


.egg {
    border: 1px solid red;
    padding: 10px;
    width: 200px;
    display: block;
    margin-bottom: 20px;
    position: relative;

    .egg-top {
        width: 0;
        height: 1px;
        top: -1px;
        right: -1px;
        position: absolute;
        background-color: @blue;
    }

    .egg-left {
        width: 1px;
        height: 0;
        top: -1px;
        left: -1px;
        position: absolute;
        background-color: @blue;
    }

    .egg-right {
        width: 1px;
        height: 0;
        top: -1px;
        right: -1px;
        position: absolute;
        background-color: @blue;
    }

    .egg-bottom {
        width: 0;
        height: 1px;
        bottom: -1px;
        left: -1px;
        position: absolute;
        background-color: @blue;
    }
}

.container {
    max-width: 970px;
    .clearfix();
}

/*  Header  */
header {

    .clearfix();
    background-image: url(images/bg-image.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 0% 0px;
    background-repeat: no-repeat no-repeat;
    color: #FFF;
    padding: 15px 0 50px 0;

    @media (max-width: 767px) {
        padding: 10px;
    }

    .mobile-menu {
        background-color: #F4F4F4;
        display: none;

        ul {
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                padding: 8px 10px;
                border-bottom: 1px solid #DDD;
                text-align: left;

                a {
                    color: @darkgrey;
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                }

                &:hover {

                    > a {
                        color: @blue;
                    }
                }

                &:last-child {
                    border: 0;
                }

                ul {
                    width: 100%;
                    padding: 0;
                    margin: 10px 0;
                    border-bottom: 1px solid #DDD;

                    li {
                        width: 100%;
                        margin: 0;
                        padding: 8px 10px;
                        border: 0;

                        a {
                            color: @darkgrey;
                            font-size: 14px;
                            padding: 0;

                            &:hover {
                                color: @blue;
                            }
                        }
                    }
                }
            }
        }
    }

    .mobile-bar {
        background-color: #000;
        margin-bottom: 10px;
        padding: 10px 0;
        text-transform: uppercase;

        i {
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        .phone {
            text-align: right;

            a {
                color: #FFF;
            }
        }
    }

    .logo {

        a {
            display: block;
            color: #FFF;
            margin: 10px 0 0 0;
            padding: 0;
            text-indent: -9999px;
            background-image: url(images/logo-colour.png);
            width: 176px;
            height: 101px;
            background-size: 100%;
        }

        @media (max-width: 767px) {
            margin: 20px 0;
        }

    }

    .menu {
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
        font-family: @lato;

        .phone {
            font-size: 18px;
            font-weight: 400;
            display: block;

            a[href^=tel]:link {
                color: #FFF;
            }
        }

        > ul > li:hover {
            background: url('images/menu-top.png') no-repeat;
            background-position: center top;
        }

        ul {
            .clearfix();
            margin-top: 20px;
            float: right;
            list-style-type: none;
            font-size: 15px;
            position: relative;
            padding: 0;

            li {
                float: left;
                margin-right: 20px;
                padding-top: 13px;

                &:last-child {
                    margin-right: 0;
                }

                @media (max-width: 990px) {
                    margin-right: 0px;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                a {
                    color: #FFF;
                    padding-bottom: 15px;
                    display: block;
                    height: 100%;

                    &:hover {
                        color: @blue;
                    }
                }

                &.current-menu-item, &.current-menu-ancestor {

                    a {
                        color: @blue;
                    }
                }

                &:hover {

                    ul {
                        display: block;
                    }
                }

                ul {
                    margin-top: 0;
                    display: none;
                    background-color: #000;
                    padding: 10px 5px;
                    width: 100%;
                    z-index: 10;
                    position: absolute;
                    right: 0;
                    border-color: #0E1D27;

                    li {
                        padding: 0;
                        margin: 0;
                        width: 33%;
                    }

                    .item {
                        text-align: left;
                        padding: 5px 10px;
                        margin-bottom: 15px;

                        h3 {
                            color: #FFF;
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                            text-transform: uppercase;
                        }

                        p {
                            margin: 2px 0 2px 0;
                            line-height: 16px;
                            font-size: 11px;
                            text-transform: none;
                            font-weight: normal;
                        }

                        a {
                            text-transform: none;
                            color: @blue;
                            font-size: 11px;
                            margin: 0;
                        }

                        hr {
                            margin: 5px 0;
                            width: 70%;
                            float: left;
                            border-color: #1A303E;
                        }
                    }

                }
            }
        }
    }

    .intro {
        padding: 20px 0 0 0;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 767px) {
            padding: 0 0 30px 0;
        }

        h2 {
            color: @red;
            font-weight: 600;
            font-size: 48px;
            margin-bottom: 0;

            @media (max-width: 767px) {
                font-size: 32px;
                margin-top: 0;
            }

        }

        p {
            font-size: 29px;
            line-height: 32px;
            margin-top: 0;
            font-weight: 400;

            @media (max-width: 767px) {
                font-size: 20px;
                line-height: 26px;
            }

            @media (min-width: 767px) and (max-width: 990px)  {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

section {
    margin-top: 10px;
    .clearfix();
}

/*  Home  */
.home-block-small {
    padding: 30px;
    text-transform: uppercase;
    color: #FFF;
    font-family: @nove;
    font-weight: bold;

    @media (min-width: 767px) and (max-width: 990px)  {
        padding: 30px 15px;
    }

    span {
        font-family: @novebold;
        letter-spacing: 1px;
        font-weight: normal;

        &.big {
            font-size: 22px;
            line-height: 22px;
            letter-spacing: 1px;
        }

    }

    .sep {
        border-bottom: 1px solid #FFF;
        width: 55%;
        margin: 15px 0 0 0;
    }

    @media (min-width: 990px) {
        padding-top: 70px;
        background: @red url('images/logo-white.png') no-repeat;
        background-size: 100px 39px;
        background-position: 30px 20px;
    }

    #projects-slider-name {
        margin-top: 5px;
        margin-bottom: -15px;
        font-family: @nove;
    }

    .controls-spacer {
        .clearfix();
        height: 20px;
    }

    .controls {
        margin-top: 5px;

        @media (min-width: 767px) and (max-width: 990px)  {
            margin-top: 50px;
        }

        span {
            display: inline-block;
            margin-right: 10px;
            color: rgba(255, 255, 255, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 11px 18px;

            @media (max-width: 767px) {
                margin-right: 5px;
                padding: 6px 11px;
            }

            @media (min-width: 767px) and (max-width: 990px)  {
                padding: 8px 12px;
                margin-right: 1px;
            }

            &:hover {
                color: rgba(255, 255, 255, 1);
                border-color: rgba(255, 255, 255, 1);
                cursor: pointer;
            }
        }
    }
}

.product {
    position: relative;
    float: left;
    width: 25%;

    @media (max-width: 767px) {
        width: 50%;
    }

    img {
        width: 100%;
        height: auto;

        &.product-image {
            opacity: 0;
            filter:alpha(opacity=0);
        }
    }

    &:hover {
        cursor: pointer;
    }

    .title-bg {
        position: absolute;
        text-transform: uppercase;
        bottom: 0;
        width: 100%;
        color: #FFF;
        height: 71px;
        padding: 0 30px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: @novebold;
        letter-spacing: 1px;

        @media (max-width: 990px) {
            padding: 15px 10px;
        }

        .title {
            display: table;
            width: 100%;
            height: 100%;

            .title-inner {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

        }
    }

    .description {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 20px;
        width: 100%;
        height: 100%;
        background: #FFF url('images/logo-black.png') no-repeat;
        background-position: 20px 10px;

        @media (max-width: 990px) {
            background: #FFF;
            padding: 10px 20px;
        }

        @media (max-width: 767px) {
            padding: 0px 20px;
        }

        h3 {
            margin: 0;
            padding: 0;
            font-size: 14px;
            text-transform: uppercase;
            font-family: @novebold;
        }

        hr {
            margin: 3px 0 6px 0;
            width: 70%;

            @media (max-width: 990px) {
                display: none;
            }
        }

        p {
            font-size: 12px;
        }

        .button {
            margin-top: 5px;

            @media (min-width: 767px) and (max-width: 990px)  {
                margin-top: 0px;
            }
        }
    }
}

.product-range {
    background-color: @red;

    @media (max-width: 767px) {
        padding: 20px;
    }
}

.home-block-large {
    .clearfix();
    background-color: #FFF;
    padding: 40px 30px;


    @media (max-width: 990px) {
        margin-left: 0;
    }

    @media (max-width: 767px) {
        padding: 20px;
    }
}

.home-block-news {
    background-color: #FFF;

    .news-image {

        @media (min-width: 767px) and (max-width: 990px)  {
            margin-left: 20px;
            margin-top: 40px;
        }

        @media (max-width: 767px) {
            padding-left: 20px;
        }

        img {
            width: 100%;
            height: auto;

            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }
    }

    .news-text {
        padding: 25px 30px;

        @media (max-width: 767px) {
            padding: 20px;
        }

        .date {
            margin: 0;
            font-family: @lato;
            font-size: 14px;
            line-height: 14px;
        }

        h3 {
            margin: 0;
            font-size: 24px;
            text-transform: uppercase;
            font-family: @novebold;
        }

        .sep {
            .clearfix();

            hr {
                width: 30%;
                margin: 15px 0 5px 0;

                @media (min-width: 767px) and (max-width: 990px)  {
                    margin: 5px 0 0 0;
                }
            }
        }

        p {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 15px;
        }
    }
}

.owl-carousel {
    .clearfix();

    div {
        .clearfix();
    }
}

.clients {
    .clearfix();
    background-color: #FFF;

    .client-controls {
        .clearfix();
        padding: 20px 30px;
        width: 25%;
        float: left;
        display: inline-block;
        text-transform: uppercase;

        .big {
            font-family: @novebold;
            font-size: 22px;
            line-height: 22px;
            letter-spacing: 1px;
        }

        hr {
            width: 70%;
            float: left;
            margin: 20px 0 30px 0;
        }

        @media (max-width: 767px) {
            padding: 30px 20px;
            width: 50%;
        }

        .controls {

            span {
                display: inline-block;
                margin-right: 10px;
                color: @grey;
                border: 1px solid @grey;
                padding: 11px 18px;

                @media (max-width: 767px) {
                    margin-right: 5px;
                    padding: 6px 11px;
                }

                &:hover {
                    color: @blue;
                    border-color: @blue;
                    cursor: pointer;
                }
            }
        }
    }

    .client-carousel {
        float: left;
        width: 75%;
        display: inline-block;
        padding: 60px 0;

        @media (max-width: 767px) {
            width: 50%;
        }
    }
}

.project-carousel {

    text-transform: uppercase;

    hr {
        margin: 0 0 10px 0;
        float: left;
        width: 70%;
    }

    .type {
        font-family: @novebold;
    }

    .top {
        height: 60px;
        overflow: hidden;
    }

    .location {

        @media (max-width: 767px) {
            margin-top: 40px;
        }

        i {
            line-height: 40px;
        }
    }

    .quantity {
        font-family: @novebold;

        .big {
            font-size: 36px;
            line-height: 20px;
        }

        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }

    .date {
        font-family: @novebold;

        .big {
            font-size: 36px;
            line-height: 20px;
        }
    }

    .meta {
        margin-top: 20px;
        text-transform: none;
        font-size: 12px;

        p {
            margin: 0;
        }
    }

    .button {
        margin-top: 5px;
    }
}

.our-projects {
    background-color: @blue;
    color: #FFF;
}

.latest-news {
    background-color: @red;
    color: #FFF;
}

.stat-text {

}

.big-stat {
  font-size: 22px;
  font-family: @novebold;
  letter-spacing: 1px;
}

.bigger-stat {
  font-family: @novebold;
  font-size: 36px;
  line-height: 20px;
}

/* Projects */
.post-type-archive-project, .tax-countries, .tax-type, .single-project, .single-product {

    .search-results {
        .clearfix();
        background-color: @blue;
        color: #FFF;
        padding: 20px 30px;
        text-transform: uppercase;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }

        .big {
            .big-stat;
        }

        .sep {
            .clearfix();

            hr {
                border-color: #FFF;
                width: 70%;
                float: left;
                margin-top: 10px;
            }
        }

        .select-style {
            position: relative;
        }

        .search-by-type {
            background: transparent url(images/arrow.png) right center no-repeat;
            border:1px solid #99CBEB;
            color:#FFF;
            text-transform: none;
            padding:10px 0px 10px 10px;
            width: 100%;

            @media (min-width: 767px) and (max-width: 990px)  {
                font-size: 12px;
            }

            @media (min-width: 480px) and (max-width: 767px)  {
                width: 70%;
            }

        }

        .hasCustomSelect {
            top: 10px;
        }

        &.anglitemp {
            @media (min-width: 990px) {
                padding-top: 70px;
                background: @blue url('images/logo-white.png') no-repeat;
                background-size: 100px 39px;
                background-position: 30px 20px;
            }
        }

    }

    .controls {

        margin: 15px 0 25px 0;

        @media (max-width: 767px) {
            margin-top: 15px;
        }

        span {
            display: inline-block;
            margin-right: 10px;
            color: rgba(255, 255, 255, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 11px 18px;

            @media (max-width: 767px) {
                margin-right: 5px;
                padding: 6px 11px;
            }

            @media (min-width: 767px) and (max-width: 990px)  {
                padding: 5px 8px;
                margin-right: 1px;
            }

            &:hover {
                color: rgba(255, 255, 255, 1);
                border-color: rgba(255, 255, 255, 1);
                cursor: pointer;
            }
        }
    }

    .project-single-result {

        @media (min-width: 767px) {
            height: 750px;
        }

        background-color: #FFF;
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .results {

        .clearfix();

        .result {
            .clearfix();
            background-color: #FFF;
            margin-bottom: 10px;
            padding: 40px 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .sep {
                .clearfix();

                hr {
                    margin: 10px 0;
                    float: left;
                    width: 70%;
                }
            }

            .type {
                font-family: @novebold;
            }

            .top {
                height: 50px;
                overflow: hidden;

                img {
                  max-width: 100%;
                  max-height: 100%;
                }
            }

            .location {

                @media (max-width: 767px) {
                    margin-top: 40px;
                }

                i {
                    line-height: 40px;
                }
            }

            .quantity {
                font-family: @novebold;

                .big {
                    font-size: 36px;
                    line-height: 20px;
                }

                @media (max-width: 767px) {
                    margin-top: 40px;
                }
            }

            .date {
                font-family: @novebold;

                .big {
                    font-size: 36px;
                    line-height: 20px;
                }
            }

            .meta {
                margin-top: 20px;
                text-transform: none;
                font-size: 12px;

                p {
                    margin: 0;
                }
            }

            .button {
                margin-top: 5px;
            }

            .content {
                margin-top: 50px;
            }

        }

    }

    .browse-projects {
        background-color: @red;
        color: #FFF;
        padding: 20px 30px;
        text-transform: uppercase;

        .big {
            font-size: 22px;
            font-family: @novebold;
            letter-spacing: 1px;
        }

        .sep {
            .clearfix();

            hr {
                border-color: #FFF;
                width: 70%;
                float: left;
            }
        }

        @media (min-width: 990px) {
            height: 573px;
        }
    }

    .map-container {
        background-color: #FFF;
        position: relative;
        padding: 10px;
        overflow: auto;

        h3 {

            font-family: @novebold;
            font-size: 15px;
            text-transform: uppercase;
            margin-left: 10px;
            margin-bottom: 30px;

        }

        .map {
            /* map slightly less than full width so that content div can fit nicely bottom left */
            width: 99%;
            right: 1%;
            float: right;

            /* zoom controls - assume these go to the right */
            .jqvmap-zoomin, .jqvmap-zoomout {
                position: absolute;
                left: 10px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background: #000;
                padding: 3px 3px 5px 3px;
                color: white;
                width: 16px;
                height: 19px;
                cursor: pointer;
                line-height: 12px;
                text-align: center;
            }
            .jqvmap-zoomin {
                top: 5px;
            }
            .jqvmap-zoomout {
                top: 30px;
            }
            .jqvmap-region {
              cursor: pointer;
            }
            .jqvmap-ajax_response {
              width: 100%;
              height: 500px;
            }
        }
    }
}

.home-block-news, .latest-news {

    @media (min-width: 767px) {
        height: 218px;
    }
}

.home-block-projects, .our-projects {

    @media (min-width: 767px) {
        height: 240px;
    }
}

/*  General Content  */

.page-template-default, .error404 {

    .page-title {
        background-color: @red;
        padding: 20px 30px;
        .clearfix();

        @media (max-width: 990px) {
            padding: 20px 30px 0 30px;
        }

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        @media (max-width: 767px) {
            height: auto;
        }

        h1 {
            margin: 0;
            color: #FFF;
            font-family: @novebold;
            letter-spacing: 1px;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
        }

        hr {
            border-color: #FFF;
            width: 70%;
            float: left;
        }
    }

    .content {
        background-color: #FFF;
        padding: 20px 30px;
        min-height: 300px;

        .top + p, .top + h2, .top + h3 {
            margin-top: 0;
            padding-top: 0;
        }

        h2 {
            text-transform: none;
        }

    }
}
/*  Single Product  */
.single-product {

    .title {
        background-color: @red;
        color: #FFF;
        padding: 20px 30px;
        font-size: 12px;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        .sep {
            .clearfix();

            hr {
                border-color: #FFF;
                width: 70%;
                float: left;
            }
        }

        p {

            @media (min-width: 767px) {
                margin-top: 110px;
            }

            @media (min-width: 767px) and (max-width: 990px)  {
                margin-top: 90px;
            }
        }

        .button {
            color: #FFF;
            border-color: #FFF;
            margin-top: 10px;

            &:hover {
                background-color: #FFF;
                color: #000;
            }

            i {
                margin-left: 5px;
                border: 1px solid #FFF;
                padding: 3px;
                border-radius: 10px;

                @media (min-width: 767px) and (max-width: 990px)  {
                    display: none;
                }
            }
        }
    }

    .copy {
        background-color: #FFF;
        padding: 10px 20px;

        @media (min-width: 767px) and (max-width: 990px)  {
            font-size: 13px;
        }
    }

    .image {
        background-color: #FFF;
        position: relative;
        overflow: hidden;

        img {

            @media (min-width: 767px) and (max-width: 990px)  {
                position: absolute;
            }
        }
    }

    @media (min-width: 767px) {
        .title, .copy, .image {
            height: 328px;
        }
    }

    .performance {
        background-color: #000;
        padding: 20px 30px;
        color: #FFF;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        .sep {
            .clearfix();
            margin-top: 2px;

            hr {
                width: 70%;
                border-color: #FFF;
                float: left;
            }
        }

        .medium {
            letter-spacing: 1px;
        }
    }

    .comparisons {
        .clearfix();

        .comparison {
            padding: 20px 30px;
            margin-bottom: 10px;

            table {
                font-size: 12px;

                thead {
                    font-size: 19px!important;
                    font-weight: bold;
                }

                tr td {
                    padding: 7px 0;

                    .stat {
                        font-weight: normal;
                    }
                }
            }

            &.bottom-row {
                margin-bottom: 0;
            }
        }

        .comparison-1 {
            background-color: #FFF;
        }

        .comparison-2 {
            background-color: @blue;
            color: #FFF;
        }

        .comparison-3 {
            background-color: @red;
            color: #FFF;
        }

        .comparison-4 {
            background-color: #FFF;
        }
    }

    .case-study-controls {
        background: #000;
        color: #FFF;
        padding: 20px 30px;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        #projects-slider-name {
            margin-top: 20px;

            @media (max-width: 767px) {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }

        .controls {

            @media (min-width: 767px) {
                margin-top: 40px;
            }

            span:hover {
                color: @red;
                border-color: @red;
            }
        }

        .sep {
            width: 70%;
        }
    }

    .case-studies {
        background-color: #FFF;
    }

    @media (min-width: 767px) {
        .case-study-controls, .case-studies {
            height: 240px;
        }
    }

    .testimonial {
        background-color: #FFF;
        text-align: center;
        padding: 20px;

        h3 {
            font-family: @novebold;
            font-size: 18px;
            margin: 10px 0 0 0;

            @media (min-width: 767px) and (max-width: 990px)  {
                margin: 0;
            }
        }

        blockquote {
            font-size: 18px;
            font-style: italic;
            position: relative;
            border-left: 0 none;
            margin: 0;

            &:before {
                content: '';
                background: url('images/quote.png') no-repeat;
                width: 25px;
                height: 17px;
                position: absolute;
                top: -25px;
                left: 5px;
            }

            &:after {
                content: '';
                background: url('images/quote.png') no-repeat;
                width: 25px;
                height: 17px;
                position: absolute;
                bottom: 35px;
                right: 5px;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        cite {
            display: block;
            margin-top: 20px;
            font-size: 13px;
            font-style: normal;
        }

        hr {
            width: 120px;
        }
    }

    .testimonial-image {
        overflow-x: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

        }
    }

    .header {

        p {
            margin: 0;
        }

        .small {
            text-transform: uppercase;
            font-family: @lato;
        }

        .medium {
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            font-family: @novebold;
        }

        .big {
            font-size: 22px;
            line-height: 22px;
            text-transform: uppercase;
            font-family: @novebold;
            letter-spacing: 1px;
        }

    }

    @media (min-width: 767px) {
        .testimonial, .testimonial-image {
            min-height: 231px;
        }
    }

}
/*  Contact Page  */
.page-template-templatescontact-php {

    .title {
        background-color: @red;
        color: #FFF;
        padding: 20px 30px;
        text-transform: uppercase;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        @media (min-width: 990px) {
            padding-top: 70px;
            background: @red url('images/logo-white.png') no-repeat;
            background-size: 100px 39px;
            background-position: 30px 20px;
        }

        .medium {
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            font-family: @novebold;
        }

        .big {
            font-size: 22px;
            line-height: 22px;
            text-transform: uppercase;
            font-family: @novebold;
            letter-spacing: 1px;
        }

        .sep {
            .clearfix();

            hr {
                border-color: #FFF;
                width: 70%;
                float: left;
            }

        }

        p {
            margin: 0;
        }

    }

    .copy {
        background-color: #FFF;
        padding: 20px 30px;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 10px 20px;
        }
    }

    .title, .copy {

        @media (min-width: 767px) {
            height: 200px;
        }
    }

    .personnel-controls {
        .clearfix();
        background-color: @blue;
        color: #FFF;
        padding: 20px 30px;
        text-transform: uppercase;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        .sep {
            border-bottom: 1px solid #FFF;
            width: 55%;
            margin: 15px 0 0 0;
        }

        .big {
            font-size: 22px;
            line-height: 22px;
            font-family: @novebold;
            letter-spacing: 1px;
        }

        @media (min-width: 990px) {
            padding-top: 70px;
            background: @blue url('images/logo-white.png') no-repeat;
            background-size: 100px 39px;
            background-position: 30px 20px;
        }

        .controls {

            margin-top: 160px;

            @media (min-width: 767px) and (max-width: 990px)  {
                margin-top: 270px;
            }

            @media (max-width: 767px) {
                margin-top: 15px;
            }

            span {
                display: inline-block;
                margin-right: 10px;
                color: rgba(255, 255, 255, 0.5);
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding: 11px 18px;

                @media (max-width: 767px) {
                    margin-right: 5px;
                    padding: 6px 11px;
                }

                @media (min-width: 767px) and (max-width: 990px)  {
                    padding: 8px 15px;
                    margin-right: 5px;
                }

                &:hover {
                    color: rgba(255, 255, 255, 1);
                    border-color: rgba(255, 255, 255, 1);
                    cursor: pointer;
                }
            }
        }

    }

    .personnel {

        margin-left: -10px;

        .personnel-carousel {

            @media (max-width: 767px) {
                margin-top: 10px;
            }

        }

        .person {
            background-color: #FFF;
            margin-left: 10px;

            img {
                width: 100%;
                height: auto;
            }

            .desc {
                padding: 15px 30px;

                h3 {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: @novebold;
                    margin: 5px 0 0 0;
                }

                h4 {
                    text-transform: uppercase;
                    margin: 0;

                    @media (max-width: 767px) {
                        height: 40px;
                        line-height: 16px;
                    }
                }

                .sep {
                    .clearfix();

                    hr {
                        margin: 10px 0 0 0;
                        width: 50%;
                        float: left;
                    }
                }

                .contact-details {

                    font-size: 13px;
                    font-weight: bold;

                    @media (max-width: 767px) {
                        height: 80px;
                    }

                    p {
                        line-height: 14px;
                        margin: 20px 0 0 0;
                    }

                    i {
                        font-size: 20px;
                        margin-right: 5px;
                    }

                    a {
                        color: #000;
                    }

                    .fa-envelope {
                        color: #ADABAB;
                    }

                    .fa-linkedin-square {
                        color: #1386AD;
                    }
                }
            }
        }

    }

    .personnel-controls, .personnel .person {

        @media (min-width: 767px) and (max-width: 990px)  {
            height: 420px;
        }

        @media (min-width: 990px) {
            height: 360px;
        }
    }

    .contact-form {
        padding: 0 10px 10px 10px;
        background-color: #FFF;

        @media (max-width: 767px) {
            padding: 20px 30px;
        }

        .send-email {
            padding: 30px 20px;
            text-transform: uppercase;

            @media (min-width: 767px) and (max-width: 990px)  {
                padding: 20px 5px;
            }

            @media (max-width: 767px) {
                padding: 20px 0px;
            }

            .big {
                font-family: @novebold;
                font-size: 22px;
                line-height: 22px;
            }

            .sep {
                .clearfix();

                hr {
                    width: 70%;
                    float: left;
                }

            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .validation_error {
            .clearfix();
            color: @red;
            padding: 10px 0 5px 0;
            font-size: 18px;

            @media (max-width: 767px) {
                font-size: 15px;
                padding: 0 0 10px 0;
            }
        }

        .gform_confirmation_message {
            color: green;
            padding: 10px 0 5px 0;
            font-size: 18px;

            @media (max-width: 767px) {
                font-size: 15px;
                padding: 10px 0 10px 0;
            }
        }

        li {
            margin: 0 0 10px 0;

            input, textarea {
                background-color: #F8F8F8;
                border: 1px solid #D9D9D9;
                padding: 10px;
                -webkit-appearance: none;
                border-radius: 0;
            }

            input {
                width: 240px;

                @media (max-width: 990px) {
                    width: 200px;
                }

                @media (max-width: 767px) {
                    width: 75%;
                }
            }

            textarea {
                float: right;
                width: 455px;
                height: 198px;

                @media (max-width: 1200px) {
                    width: 440px;
                }

                @media (max-width: 990px) {
                    width: 315px;
                }

                @media (max-width: 767px) {
                    float: none;
                    width: 100%;
                }
            }

            .validation_message {
                display: none;
            }

            &.gfield_error input, &.gfield_error textarea {
                border: 1px solid @red;
            }
        }

        .gform_footer {
            text-align: right;

            @media (max-width: 767px) {
                text-align: left;
            }

            input {
                background-color: @blue;
                color: #FFF;
                border-radius: 0;
                -webkit-appearance: none;

                &:hover {
                    background-color: #000;
                }

                &:active {
                    margin-top: 1px;
                    margin-bottom: -1px;

                }
            }
        }
    }

}

/* Our Company */

.page-template-templatesour-company-php {

   .title {
        background-color: @red;
        color: #FFF;
        padding: 20px 30px;
        text-transform: uppercase;

        @media (min-width: 767px) and (max-width: 990px)  {
            padding: 20px 15px;
        }

        @media (min-width: 990px) {
            padding-top: 70px;
            background: @red url('images/logo-white.png') no-repeat;
            background-size: 100px 39px;
            background-position: 30px 20px;
        }

        &.directors-title {
            background-color: @blue;

            @media (max-width: 767px) {
                padding-bottom: 40px;
            }
        }

        &.history-title {
            background-color: #000;

            @media (max-width: 767px) {
                padding-bottom: 40px;
            }
        }

        .big {
            font-size: 22px;
            line-height: 22px;
            font-family: @novebold;
            letter-spacing: 1px;
        }

        hr {
            border-color: #FFF;
            margin: 15px 0;
            width: 70%;
            float: left;
        }

        .download {
            text-transform: none;
            margin-top: 280px;
            font-size: 12px;

            @media (min-width: 767px) and (max-width: 990px)  {
                margin-top: 320px;
            }

            @media (max-width: 767px) {
                clear: left;
                margin-top: 20px;
            }

        }

        .button {
            color: #FFF;
            border-color: #FFF;
            margin-top: 10px;

            &:hover {
                background-color: #FFF;
                color: #000;
            }

            i {
                margin-left: 5px;
                border: 1px solid #FFF;
                padding: 3px;
                border-radius: 10px;

                @media (min-width: 767px) and (max-width: 990px)  {
                    display: none;
                }
            }
        }
    }

    .copy {
        background-color: #FFF;
        padding: 20px 30px;

        @media (min-width: 767px) and (max-width: 990px)  {
            font-size: 13px;
        }
    }

    .company-copy {

        .icons {
            .clearfix();
            margin: 45px 0 12px 0;

            @media (max-width: 767px) {
                margin: 10px 0;
            }

            .icon {
                width: 30%;
                float: left;
                opacity: 0;
                text-align: center;
                text-transform: uppercase;
                line-height: 1em;

                &:nth-child(2) {
                  width: 40%;
                }

                i {
                    font-size: 45px;
                    line-height: 32px;
                    margin-bottom: 25px !important;
                }

                div {
                    white-space: nowrap;
                    margin-bottom: 3px;
                    font-size: 17px;
                }

                .big {
                    font-weight: 600;
                    font-size: 19px;
                    letter-spacing: 1px;
                    white-space: nowrap;

                    span {
                        font-size: 24px;
                        line-height: 1em;
                    }
                }

                .big + .big {
                  margin-top: -3px;
                }

                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 10px;
                }

            }

        }

    }

    .directors-copy {
        background-color: #FFF;

        p {
            padding: 20px 30px 20px 0;

            @media (min-width: 767px) and (max-width: 990px)  {
                padding: 0px 20px 10px 10px;
                font-size: 13px;
                line-height: 20px;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .button {
            margin-right: 10px;

            @media (min-width: 767px) and (max-width: 990px)  {
                margin-bottom: 10px;
                margin-left: 10px;
            }

            i {
                color: #1386AD;
                margin-right: 5px;
            }
        }

        @media (max-width: 767px) {
            padding: 20px 30px;

            p {
                padding: 10px 0;
            }

            .button {
                margin-bottom: 10px;
            }
        }
    }

    .company-title, .company-copy {
        @media (min-width: 767px) {
            height: 525px;
        }
    }

    .directors-title, .directors-copy {

        @media (min-width: 990px) {
            height: 230px;
        }

        @media (min-width: 767px) and (max-width: 990px)  {
            height: 280px;
        }


    }

    .history-title, .history-copy {
        @media (min-width: 767px) {
            height: 310px;
        }
    }

}

/*  News  */
article {
    .clearfix();
    background-color: #FFF;

    &.single {
        background-color: transparent;

        @media (max-width: 767px) {
            background-color: #FFF;
        }

        .featured-image-small {
            margin: 20px 20px 0 20px;
        }

        .overview {
            background-color: #FFF;
            margin-left: -15px;

            @media (max-width: 767px) {
                margin-left: 0px;
            }
        }
    }

    .featured-image {
        margin-left: -5px;
        width: 100%;
        height: auto;

        @media (max-width: 767px) {
            margin-left: 10px;
            margin-top: 20px;
        }
    }

    .overview {

        padding: 20px 30px;

        @media (max-width: 767px) {
            padding: 20px;
        }

        .date {
            margin: 0;
            font-family: @lato;
        }

        h2 {
            margin: -5px 0 0 0;
            font-family: @novebold;
            font-size: 24px;
        }

        .sep {
            .clearfix();

            hr {
                margin: 10px 0 0 0;
                width: 20%;
                float: left;
            }
        }

        .button {
            margin-top: 10px;
        }
    }

}

/*  Footer  */
footer {
    margin-top: 10px;
    .clearfix();
    background-color: @darkblue;
    color: #FFF;
    padding: 20px 0;
    line-height: 22px;

    @media (max-width: 767px) {
        padding: 20px;
    }

    h3 {
        font-size: 22px;
        color: #FFF;
        text-transform: uppercase;
        font-family: @novebold;
        letter-spacing: 1px;

        @media (max-width: 990px) {
            margin-top: 20px;
            clear: left;
        }


        &.accred-title {

            @media (max-width: 990px) {
                text-align: center;
            }
        }
    }

    .sep {
        .clearfix();
        text-align: center;

        hr {
            text-align: center;
            border-bottom: 1px solid #FFF;
            width: 50%;
            margin: 10px 0 15px 0;

        }

        &.accred-hr {
            text-align: center;

            hr {
                @media (max-width: 990px) {
                    margin-left: 25%;
                }
            }
        }
    }


    .accreditations {
        .clearfix();
        margin-top: 5px;

        .accred {
            margin-bottom: 10px;
            text-align: center;

            @media (max-width: 990px) {
                width: 300px;
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: auto;
            }

            @media (max-width: 990px) {
                margin-bottom: 30px;
            }
        }

        .accred1 {
            width: 100px;
            padding-top: 5px;
        }

        .accred2 {
            width: 137px;
            padding-top: 15px;
        }

        .accred3 {
            width: 95px;
        }

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 1px;

            a {
                color: #FFF;

                &:hover {
                    color: @blue;
                }
            }


            &.current-menu-item {

                a {
                    color: @blue;
                }
            }
        }
    }

    .copyright {
        margin-top: 30px;
        border-top: 1px solid #082331;
        padding-top: 20px;
        font-size: 13px;
        text-align: right;

        @media (max-width: 767px) {
            text-align: left;
        }
    }
}

/*  Helpers  */
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}

